<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Garrett Reed Dot Info</title>
    <meta name="description" content="It's not much, but it's got some links.">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/dist.css">

    <script>
        window.apiEndpoint = "{{{apiEndpoint}}}";
    </script>
</head>
<body class="home__body">
    <div class="home__title-wrap">
        <h1 class="home__title-head marquee">Information</h1>
        <p class="home__title-head marquee marquee--dupe">Information</p>
    </div>

    <div class="home__featured-image"></div>

    <ul class="home__links-list">
        {{#links}}
        <li class="home__link"><a href="{{url}}" title="{{title}}">{{title}}</a></li>
        {{/links}}
    </ul>

    <div class="home__info-wrap">
        <h2 class="home__info-title">Current Events</h2>

        <input type="radio" id="info--reading" name="info" class="home__info-toggle">
        <label for="info--reading" class="home__info-label">Reading</label>

        <input type="radio" id="info--listening" name="info" class="home__info-toggle">
        <label for="info--listening" class="home__info-label">Listening</label>

        <input type="radio" id="info--working" name="info" class="home__info-toggle">
        <label for="info--working" class="home__info-label">Working</label>

        <ul class="home__info-detail home__info-detail--reading" id="list-reading"></ul>

        <ul class="home__info-detail home__info-detail--listening" id="list-listening"></ul>

        <ul class="home__info-detail home__info-detail--working" id="list-working">
            {{#working}}
            <li>{{{.}}}</li>
            {{/working}}
        </ul>
    </div>

    <script src="dist/dist.js"></script>
</body>
</html>
