@use 'sass:math';

.home__body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    background: black;
    font-family: "Major Mono Display", monospace;
    text-transform: lowercase;
    animation: fade-in 1s forwards; // hides font fouc for most devices
}

.home__title-wrap {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}

.home__title-head {
    color: white;
    font-size: 10vw;
    line-height: 0.5;
}

$glitch-length: 2;
$image-aspect-ratio: 66.20%;
@mixin glitch-anim($name) {
    @keyframes #{$name} {
        $steps: 20;
        @for $i from 0 through $steps {
            #{percentage($i * math.div(1, $steps))} {
                $top: random(100);
                $bottom: random(101 - $top);
                clip-path: inset(#{$top}#{'%'} 0 #{$bottom}#{'%'} 0);
            }
        }
    }
}
@include glitch-anim("glitch-anim-1");
@include glitch-anim("glitch-anim-2");

.home__featured-image {
    position: relative;
    transform: translate(-50%, 6vw);
    width: 140%;
    padding-top: $image-aspect-ratio * 1.4;
    overflow: hidden;
    font-size: 0;
}

.home__featured-image,
.home__featured-image::before,
.home__featured-image::after {
    background-image: url(/img/little-garrett.jpg);
    background-position: center center;
    background-size: cover;
}

.home__featured-image::before,
.home__featured-image::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.home__featured-image:hover {
    &:before {
        left: 1%;
        animation: glitch-anim-1 #{$glitch-length}s infinite linear alternate-reverse;
    }

    &:after {
        right: -1%;
        animation: glitch-anim-2 #{$glitch-length}s infinite linear alternate-reverse;
    }
}

.home__featured-image:before {
    left: 1%;
    animation: glitch-anim-1 #{$glitch-length}s 1 linear alternate-reverse;
}

.home__featured-image:after {
    right: -1%;
    animation: glitch-anim-2 #{$glitch-length}s 1 linear alternate-reverse;
}

.home__links-list {
    position: absolute;
    top: calc(50% - 44px); // offset the menu bar height
    right: 0;
    transform: translateY(-50%);
    text-align: right;
    font-size: 16px;
}

.home__link a {
    display: block;
    color: white;
    line-height: 2;

    &:hover {
        transform: skewX(35deg);
    }
}

.home__info-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(20vh + 44px);
    overflow-y: auto;
}

.home__info-title {
    color: yellow;
    font-size: 16px;
}

.home__info-toggle {
    display: none;

    &:checked + .home__info-label {
        text-decoration: underline;
    }
}

.home__info-label {
    display: inline-block;
    color: white;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;

    & ~ & {
        margin-left: 0.5em;
    }

    &:hover {
        transform: skewX(35deg);
    }
}

.home__info-detail {
    display: none;
    padding-left: 2em;
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }

    a:hover {
        display: inline-block;
        transform: skewX(35deg);
    }
}

#info--reading:checked ~ .home__info-detail--reading,
#info--listening:checked ~ .home__info-detail--listening,
#info--working:checked ~ .home__info-detail--working {
    display: block;
}


@media screen and (min-width: 640px) {
    .home__featured-image {
        width: 100%;
        padding-top: $image-aspect-ratio;
    }
}

@media screen and (min-width: 1200px) {
    .home__featured-image {
        width: 80%;
        padding-top: $image-aspect-ratio * 0.8;
    }
}
