@import "reset";

body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee--dupe {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translate(-200%);
    }
}

.marquee {
    width: 100%;
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee--dupe {
    animation: marquee--dupe 20s linear 10s infinite;
}

@import "home";
